.App {
  font-family: sans-serif;
  text-align: center;
}

/* --- ЗРОБИТИ ЯК НАТИВНИЙ ДОДАТОК --- */

/* 1. Відступаємо від годинника, батареї та нижньої смужки iPhone */
body,
#root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

/* 2. Повністю ховаємо лінію прокрутки, але залишаємо сам скролінг */
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  background: transparent !important;
}

* {
  -ms-overflow-style: none !important; /* Для Edge */
  scrollbar-width: none !important; /* Для Firefox */
}
